@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Lato:wght@300&family=Nanum+Gothic:wght@400;700;800&display=swap');

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: #39789D;
  --witting-blue: #B3E1EF;
  --blue: #6EB5CD;
  --off-white: #F4F2F4;
  --light-grey: #d3d3d3;
  --grey: #4b4c4e;
  --font-main-heading: 'Dela Gothic One', cursive;
  --font-heading: 'Nanum Gothic';
  --font-para: 'Lato';
}
